:root {
    --accent-color: #473BF0;
    --heading-color: #161C2D;
    --text-color-light: #6E727D;
    --text-color: #161c2d;
    --swiper-theme-color: #007AFF;
    --white-color: #FFFFFF;
    --hover-color: #006DFE;
    --warn-color: #F34D4D;
}
